/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Bebas+Neue&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding :20px;
  background-color: #484343;
  box-shadow: 0 0 10px rgb(255, 255, 255);

}

.logo {
  font-size: 3rem;;
  font-weight: bold;
  font-style:italic;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  padding:16px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #3b2b2b62;
}
.logo :hover{
  background-color: #f1060662;

}
span {
  color: #ff0000;
font-weight: bold;
font-style:italic;
}


nav {
  margin-top: 15px;
  
}
nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff0000;
}

.title-h1, .sub-title, .services {
  text-align: center;
  margin-top: 20px;
}

.sub-title p {
  font-size: 24px;
  margin-bottom: 10px;
}

.services p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.fas {
  margin-right: 10px;
}

main {
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.main-container{
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-top: 40px;
  margin: 5%;
}
.main-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  width: 66%;
  margin: 5%;
  padding: 5%;
  border-left: solid 1px #333;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

.intervention {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

aside {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

aside h3 {
  margin-bottom: 20px;
}

.btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn a:hover {
  background-color: #d90000;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}
footer span , i {
  color: #fff;
  text-decoration: none
}

.contactez-moi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #fff;
}

.contactez-moi i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
      margin-bottom: 10px;
  }

  .intervention {
      flex-direction: column;
  }
}
/*page contact */
.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.section-contact form {
  flex-direction: column;
  display: flex;
}